# Exercício da aula 36
O objetivo deste exercício é calcular o coeficiente e a taxa de evasão utilizando a tabela abaixo.

In [1]:
import numpy as np
import pandas as pd

In [2]:
ano_graudacao = [1, 2, 3, 4]
matriculas_marco = [70, 50, 47, 23]
matriculas_novembro = [65, 48, 40, 22]

In [5]:
dados = {'ano_graduacao':ano_graudacao,
         'matriculas_marco': matriculas_marco,
         'matriculas_novembro': matriculas_novembro}

dataset = pd.DataFrame(dados)
dataset

   ano_graduacao  matriculas_marco  matriculas_novembro
0              1                70                   65
1              2                50                   48
2              3                47                   40
3              4                23                   22

In [6]:
dataset['taxa_evasao'] = ((dataset['matriculas_marco'] - dataset['matriculas_novembro']) / sum(dataset['matriculas_marco'], dataset['matriculas_novembro'])) * 100
dataset

   ano_graduacao  matriculas_marco  matriculas_novembro  taxa_evasao
0              1                70                   65     1.960784
1              2                50                   48     0.840336
2              3                47                   40     3.043478
3              4                23                   22     0.471698